* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
#root {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.App {
    width: 800px;
    padding-top: 50px;
}
.post {
    display: flex;
    padding-top: 20px;
}
.post__content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border: chocolate 2px solid;
}
.post__btns {
    display: flex;
    align-items: center;
}
.post-enter {
    transform: translateX(-150px);
}
.post-enter-active {
    transform: translateX(0px);
    transition: all 500ms ease-in;
}
.post-exit {
    opacity: 1;
}
.post-exit-active {
    transform: translateX(-150px);
    transition: all 500ms ease-in;
}

.page__wrapper {
    margin: 10px 0;
    display: flex;
}
.page {
    padding: 10px;
    border: 1px solid teal;
    cursor: pointer;
}
.page__current {
    border: 2px solid orange;
    font-weight: bold;
}
.navbar {
    height: 50px;
    width: 100vw;
    display: flex;
    align-items: center;
    padding: 0 15px;
    background: lightgray;
}
.navbar__links {
    margin-left: auto;
}